.container {
    background-image: url('phone-virus.png');
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
*{
    margin: 0;
    padding: 0;
}